
@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';



body {
  background: linear-gradient(
    180deg,
    #0C162E 0%, /* Donkerder blauw */
    #182236 75%, /* Donkerder blauw */
    #182236 100% /* Donkerder blauw */
  );
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

